<div class="jumbotron center">
  <h1>Welcome to Punterest</h1>

  <p>A website dedicated to saving the best puns!</p>

  <%= link_to 'Login', '#', class: 'btn btn-danger' %>
  <%= link_to 'Join', '#', class: 'btn btn-primary' %>

</div>
