$navbar-height: 40px;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

#brand {
  color: #CC7C21;
}

#nav-links a {
  color: #FFC14F;
}

#nav-links a:hover {
  color: #103AFF;
}
