$navbar-height: 40px;
$pagination-disabled-bg: #C2C2C2;
$pagination-active-bg: #103AFF;
$pagination-hover-bg: #FFC14F;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

#brand {
  color: #CC7C21;
}

#nav-links a {
  color: #FFC14F;
}

#nav-links a:hover {
  color: #103AFF;
}
