// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
}

.box {
  margin: 7px;
  width: 214px;
}

.box img {
  width: 100%;
}

/*** Pin Panels ***/

.panel-heading {
  padding-bottom: 15px;
}

.panel-default {
  margin-bottom: 5px;
}
.panel-category {
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-footer {
  background-color: #fff;
}

.div-center {
  width: 50%;
  margin: auto;
}
