<div class="container">
    <div class="text-center">
        <ul class="list-inline">
           <li><%= mail_to "downing034@gmail.com", "REPORT AN ISSUE" %></li>  |
           <li>Copyright <i class="fa fa-copyright"></i> <span style="color:#CC7C21">Paul Downing</span> All Rights Reserved</li>
        </ul>
    </div>
</div>
